body {
    background-color:#EAF6F6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    height: 0px;
    border-color: gray;
    border-width: 5px;
}
h3 {
    color:#66BFBF;
}
h1{
    color:#66BFBF;
}